{% extends 'layout.twig' %}

{% block body %}
  <main class="main">
    <section class="container">
      <h1>{{title}}</h1>
      
      <h2>Multer</h2>
      <form id="multerForm" action="api/stats" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <input type="file" class="form-control-file" name="uploaded_file">
          <input type="text" id="inputMulterUpload" class="form-control textMulter" placeholder="Number of speakers" name="nspeakers">
          <input type="submit" id="inputMulter" value="Get me the stats!" class="btn btn-default">
        </div>
      </form>
      
      <h2>Fileupload</h2>
      <form action="api/single" method="post" enctype="multipart/form-data" class="uploadBook">
        <div class="mb-3">
          <label for="inputBookName2" class="form-label">Nom du livre</label>
          <input type="text" class="form-control" id="inputBookName2">
        </div>
        <div class="mb-3">
          <label for="formFileBookNote2" class="form-label">Importer les notes du livre</label>
          <input class="form-control" name="mFile" type="file" id="formFileBookNote2">
  
          <button id="uploadBook" type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
      
      <h2>No Upload</h2>
      <forms class="addBook">
        <fieldset>
          <legend>Ajouter un nouveau livre</legend>
          
          <div class="mb-3">
            <label for="inputBookName" class="form-label">Nom du livre</label>
            <input type="text" class="form-control" id="inputBookName">
          </div>
  
          <div class="mb-3">
            <label for="inputBookCategory" class="form-label">Catégories</label>
            <select id="inputBookCategory" class="form-select" multiple="multiple"></select>
          </div>
          
          <div class="mb-3">
            <label for="formFileBookNote" class="form-label">Importer les notes du livre</label>
            <input class="form-control" name="mFile" type="file" id="formFileBookNote">
          </div>
          
          <button id="submitBook" type="submit" class="btn btn-primary">Enregistrer</button>
        </fieldset>
      </forms>
      
      <section id="bookList">
        <h2 class="mt-5">Liste de mes livres</h2>
        
        <ul class="bookList-list"></ul>
      </section>
    </section>
  </main>
{% endblock %}
