{% extends 'layout.twig' %}

{% block body %}
  <main class="main">
    <section class="container">
      <h1>{{title}}</h1>
      <forms class="addBook">
        <fieldset>
          <legend>Ajouter un nouveau livre</legend>
          
          <div class="mb-3">
            <label for="inputBookName" class="form-label">Nom du livre</label>
            <input type="text" class="form-control" id="inputBookName">
          </div>
  
          <div class="mb-3">
            <label for="inputBookCategory" class="form-label">Catégories</label>
            <select id="inputBookCategory" class="form-select" multiple="multiple"></select>
          </div>
          
          <div class="mb-3">
            <label for="formFileBookNote" class="form-label">Importer les notes du livre</label>
            <input class="form-control" name="mFile" type="file" id="formFileBookNote">
          </div>
          
          <button id="submitBook" type="submit" class="btn btn-primary">Enregistrer</button>
        </fieldset>
      </forms>
      
      <section id="bookList">
        <h2 class="mt-5">Liste de mes livres</h2>
        
        <ul class="bookList-list"></ul>
      </section>
    </section>
  </main>
{% endblock %}
